*{ margin: 0;
   padding: 0;
}
header {
    background-color: black;
    width: 100%;
    height: 100%;
}
body{
    background-color: grey;
    height: 100%;
    padding: 0;


}
nav {
    background-color: rgb(131, 125, 125);
    padding: 1rem;
}
section{
    background: grey;
}
nav ul {

    padding: 0;
        
}
table, td, th{
    background-color: burlywood;
    border: 1px solid black;
    padding: 1rem;
    border-collapse: collapse;
    width: 30%;
}
footer{
    background-color: black;
    padding: 30px;

}
