*{ margin: 0;
   padding: 0;
}
header {
    background-color: black;
    width: 100%;
    height: 100%;
}
body{
    background: blanchedalmond;
    height: 100%;
    margin: 0;
    padding: 0;

}
nav {
    background-color: rgb(131, 125, 125);
    padding: 1rem;
}
section{
    background: grey;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer{
    background-color: black;
}
